/*******************************尾部背景设置*************************/
.first
{
	width:100%;
}
.second
{
	width:100%;
	background-color: #fafafa;
	padding-top:20px ;
}
/*****************快修退货等设置****************/
.firstson01
{
	font-size: 16px;
	border-bottom:1px solid #ccc;
}
.firstson01>a
{
	display: inline-block;
	margin: 30px 45px;
	color:#999;
	text-indent: 5px;
}
.firstson01>a>i
{
	padding-right: 5px;
	font-size: 22px;
}
.firstson01>a:first-child
{
	margin-left: 65px;
}
/***************鼠标放上时的样式*******************/
.firstson01>a:hover,.firstson01>a>i:hover,.firstson02>ul>li>ul>li>a:hover
{
	color: #ff6700;
}
/********************客服*************************/
.firstson02
{
	padding-top: 30px;
	padding-bottom: 30px;
}
.firstson02>ul
{
	width:950px;
	border-right: 1px solid #ccc;
	margin-bottom: 10px;
	padding-left: 10px;
}
.firstson02>ul>li
{
	margin-right: 96px;
}
.firstson02>ul>li>span
{
	display: inline-block;
	margin-bottom: 20px;
}
.firstson02>ul>li a
{
	font-size: 12px;
	display: inline-block;
	color: #999;
	margin-bottom: 10px;
}
.firstson02>.firstson02_02
{
	width: 150px;
	padding:0px 50px;
	text-align: center;
}
.firstson02>.firstson02_02>span
{
	font-size: 20px;
	color:orangered;
	line-height: 40px;
}
.firstson02>.firstson02_02>a:last-child
{
	display: inline-block;
	color:orangered;
	margin-top: 20px;
	padding: 5px;
	border: 1px solid orangered;
	font-size: 12px;
}
.firstson02>.firstson02_02>a:last-child:hover
{
	color: #fff;
	cursor: pointer;
	background-color:orangered ;
	-moz-transition: background-color .3s ease-in;
}
/***************网站底部信息***********/
.secondson>div>a
{
	font-size:13px;
}
.secondson a:hover
{
	color: #ff6700;
}
.second p,.second p>a
{
	font-size: 12px;
	color: #999;
}
.second img
{
	margin: 0px;
	padding-right: 10px;
}
.secondson>span
{
	font-family: "楷体";
	font-size: 20px;
	color:#cbcbcb;
	display:block;
	width:300px;
	margin: 0px auto;
	padding-top: 20px;
	padding-bottom: 30px;
}
