body,a,ul,li,header,p,img,h1
{
	margin: 0px;
	padding: 0px;
}
body
{
	font-size:14px;
	color: #333;
}
.box
{
	width: 1226px;
	margin: 0px auto;
}
a
{
	color: #333;
	text-decoration: none;
}
ul,li
{
	list-style-type: none;
}
.left
{
	float:left
}
.right
{
	float: right;
}
.clear
{
	clear: both;
}
